<div class="site-layout">
  <header>
    <div class="navigation-bar">
      <app-primary-navbar></app-primary-navbar>
      <app-secondary-navbar></app-secondary-navbar>
    </div>
  </header>

  <main>
    <div class="container-md content-wrapper">
      <div class="row content">
        <!-- <div class="left-sidebar">
          <app-left-sidebar></app-left-sidebar>
        </div> -->
        <div>
          <app-main-content></app-main-content>
        </div>
      </div>
    </div>
  </main>

  <footer class="fixed-bottom">
    <div class="footer">
      <hr />
      <app-footer></app-footer>
    </div>
  </footer>
</div>
