<div class="layout">
  <header>
    <div class="navigation-bar">
      <app-primary-navbar></app-primary-navbar>
      <app-secondary-navbar></app-secondary-navbar>
    </div>
  </header>

  <main>
    <div class="container-md" style="background-color: #eee">
      <div class="row">
        <div class="col-xs-12">
          <div class="content">
            <app-main-content></app-main-content>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="fixed-bottom">
    <div class="footer">
      <hr />
      <app-footer></app-footer>
    </div>
  </footer>
</div>
