.sidebar {
  background-color: #eee;
  .sidebar-sticky {
    .flex-column {
      .nav-item {
        .nav-link {
          color: #333;
          font-weight: 500;
          padding: 0.5rem 1rem 0.5rem 1.5rem;
          display: inline-block !important;

          span {
            padding-left: 0.5rem;
          }
        }

        .nav-link.active {
          color: #007bff;
          padding: 0.5rem 1rem 0.5rem 1.5rem;
        }
      }
    }
  }
}
